workingbase/app/code/local/Ibrams/CmsExtended/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     name="{{var wsdl.name}}"
     targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="cmsextendedCmspageEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:cmsextendedCmspageEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="version" type="xsd:string" />
                    <xsd:element name="accessroles" type="xsd:string" />
                    <xsd:element name="startdate" type="xsd:string" />
                    <xsd:element name="enddate" type="xsd:string" />
                    <xsd:element name="type" type="xsd:string" />
                    <xsd:element name="showassociatedproducts" type="xsd:string" />
                    <xsd:element name="showassociatecategories" type="xsd:string" />
                    <xsd:element name="permittedroleactions" type="xsd:string" />
                    <xsd:element name="htmlcontent" type="xsd:string" />
                    <xsd:element name="layout" type="xsd:string" />
                    <xsd:element name="layoutupdate" type="xsd:string" />
                    <xsd:element name="author" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />
                    <xsd:element name="path" type="xsd:string" />
                    <xsd:element name="position" type="xsd:string" />
                    <xsd:element name="level" type="xsd:string" />
                    <xsd:element name="children_count" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageAddEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="version" type="xsd:string" />
                    <xsd:element name="accessroles" type="xsd:string" />
                    <xsd:element name="startdate" type="xsd:string" />
                    <xsd:element name="enddate" type="xsd:string" />
                    <xsd:element name="type" type="xsd:string" />
                    <xsd:element name="showassociatedproducts" type="xsd:string" />
                    <xsd:element name="showassociatecategories" type="xsd:string" />
                    <xsd:element name="permittedroleactions" type="xsd:string" />
                    <xsd:element name="htmlcontent" type="xsd:string" />
                    <xsd:element name="layout" type="xsd:string" />
                    <xsd:element name="layoutupdate" type="xsd:string" />
                    <xsd:element name="author" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="version" type="xsd:string" />
                    <xsd:element name="accessroles" type="xsd:string" />
                    <xsd:element name="startdate" type="xsd:string" />
                    <xsd:element name="enddate" type="xsd:string" />
                    <xsd:element name="type" type="xsd:string" />
                    <xsd:element name="showassociatedproducts" type="xsd:string" />
                    <xsd:element name="showassociatecategories" type="xsd:string" />
                    <xsd:element name="permittedroleactions" type="xsd:string" />
                    <xsd:element name="htmlcontent" type="xsd:string" />
                    <xsd:element name="layout" type="xsd:string" />
                    <xsd:element name="layoutupdate" type="xsd:string" />
                    <xsd:element name="author" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageInfoEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="version" type="xsd:string" />
                    <xsd:element name="accessroles" type="xsd:string" />
                    <xsd:element name="startdate" type="xsd:string" />
                    <xsd:element name="enddate" type="xsd:string" />
                    <xsd:element name="type" type="xsd:string" />
                    <xsd:element name="showassociatedproducts" type="xsd:string" />
                    <xsd:element name="showassociatecategories" type="xsd:string" />
                    <xsd:element name="permittedroleactions" type="xsd:string" />
                    <xsd:element name="htmlcontent" type="xsd:string" />
                    <xsd:element name="layout" type="xsd:string" />
                    <xsd:element name="layoutupdate" type="xsd:string" />
                    <xsd:element name="author" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />
                    <xsd:element name="path" type="xsd:string" />
                    <xsd:element name="position" type="xsd:string" />
                    <xsd:element name="level" type="xsd:string" />
                    <xsd:element name="children_count" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageMoveEntity">
                <xsd:sequence>
                <xsd:element name="cmspage_id" type="xsd:string" />
                <xsd:element name="parent_id" type="xsd:string" />
                <xsd:element name="after_id" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageAssignProductEntity">
                <xsd:sequence>
                <xsd:element name="cmspageId" type="xsd:string" />
                <xsd:element name="productId" type="xsd:string" />
                <xsd:element name="position" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageUnassignProductEntity">
                <xsd:sequence>
                <xsd:element name="cmspageId" type="xsd:string" />
                <xsd:element name="productId" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageAssignCategoryEntity">
                <xsd:sequence>
                <xsd:element name="cmspageId" type="xsd:string" />
                <xsd:element name="categoryId" type="xsd:string" />
                <xsd:element name="position" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageUnassignCategoryEntity">
                <xsd:sequence>
                <xsd:element name="cmspageId" type="xsd:string" />
                <xsd:element name="categoryId" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        
            <xsd:element name="cmsextendedCmspageListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:cmsextendedCmspageEntityArray" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:cmsextendedCmspageInfoEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:cmsextendedCmspageAddEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:cmsextendedCmspageUpdateEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageMoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session_id" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="parentId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="afterId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAssignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAssignProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAssignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageUnassignProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageUnassignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAssignCategoryRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="categoryId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageAssignCategoryResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageUnassignCategoryRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cmspageId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="categoryId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageUnassignCategoryResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
                    <xsd:complexType name="cmsextendedCmspageCommentListEntity">
                <xsd:sequence>
                    <xsd:element name="comment_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="cmspage_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cmsextendedCmspageCommentListEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:cmsextendedCmspageCommentListEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cmsextendedCmspageCommentListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageCommentListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:cmsextendedCmspageCommentListEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageCommentUpdateStatusRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="commentId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cmsextendedCmspageCommentUpdateStatusResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="cmsextendedCmspageListRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageListRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageListResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageListResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageInfoRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageInfoResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageAddRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageAddResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageAddResponseParam"/>
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageUpdateRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageUpdateResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageUpdateResponseParam"/>
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageRemoveRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageRemoveResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageRemoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageMoveRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageMoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageMoveResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageMoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageAssignProductRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageAssignProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageAssignProductResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageAssignProductResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageUnassignProductRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageUnassignProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageUnassignProductResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageUnassignProductResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageAssignCategoryRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageAssignCategoryRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageAssignCategoryResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageAssignCategoryResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageUnassignCategoryRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageUnassignCategoryRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageUnassignCategoryResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageUnassignCategoryResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageCommentListRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageCommentListRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageCommentListResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageCommentListResponseParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageCommentUpdateStatusRequest">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageCommentUpdateStatusRequestParam" />
    </wsdl:message>
    <wsdl:message name="cmsextendedCmspageCommentUpdateStatusResponse">
        <wsdl:part name="parameters" element="typens:cmsextendedCmspageCommentUpdateStatusResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="cmsextendedCmspageList">
            <wsdl:documentation>Retrieve list of cmspages</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageListRequest" />
            <wsdl:output message="typens:cmsextendedCmspageListResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageInfo">
            <wsdl:documentation>Retrieve cmspage info</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageInfoRequest" />
            <wsdl:output message="typens:cmsextendedCmspageInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageAdd">
            <wsdl:documentation>Add cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageAddRequest" />
            <wsdl:output message="typens:cmsextendedCmspageAddResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageUpdate">
            <wsdl:documentation>Update cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageUpdateRequest" />
            <wsdl:output message="typens:cmsextendedCmspageUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageRemove">
            <wsdl:documentation>Remove cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageRemoveRequest" />
            <wsdl:output message="typens:cmsextendedCmspageRemoveResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageMove">
            <wsdl:documentation>Move cmspage in tree</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageMoveRequest" />
            <wsdl:output message="typens:cmsextendedCmspageMoveResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageAssignProduct">
            <wsdl:documentation>Assign product to cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageAssignProductRequest" />
            <wsdl:output message="typens:cmsextendedCmspageAssignProductResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageUnassignProduct">
            <wsdl:documentation>Remove product from cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageUnassignProductRequest" />
            <wsdl:output message="typens:cmsextendedCmspageUnassignProductResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageAssignCategory">
            <wsdl:documentation>Assign category to cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageAssignCategoryRequest" />
            <wsdl:output message="typens:cmsextendedCmspageAssignCategoryResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageUnassignCategory">
            <wsdl:documentation>Remove category from cmspage</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageUnassignCategoryRequest" />
            <wsdl:output message="typens:cmsextendedCmspageUnassignCategoryResponse" />
        </wsdl:operation>
            <wsdl:operation name="cmsextendedCmspageCommentList">
            <wsdl:documentation>Retrieve list of cmspage comments</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageCommentListRequest" />
            <wsdl:output message="typens:cmsextendedCmspageCommentListResponse" />
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageCommentUpdateStatus">
            <wsdl:documentation>Change cmspage comment status</wsdl:documentation>
            <wsdl:input message="typens:cmsextendedCmspageCommentUpdateStatusRequest" />
            <wsdl:output message="typens:cmsextendedCmspageCommentUpdateStatusResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="cmsextendedCmspageList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageMove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageAssignProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageUnassignProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageAssignCategory">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageUnassignCategory">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
            <wsdl:operation name="cmsextendedCmspageCommentList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cmsextendedCmspageCommentUpdateStatus">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
